.App {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.title {
  font-weight: 900;
  -webkit-text-stroke: 2px black;
}
.reset {
  border: 1px #ffd952 solid;
  border-radius: 20px;
  background-color: #b998ff;
  &:hover {
    filter: hue-rotate(300deg);
    transform: scale(0.97);
  }
}
.board {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
}
.cell {
  width: 50px;
  height: 50px;
  background-color: #ffd952;
  border: 1px solid #b998ff;
}
